body{
    padding: 0px;
    margin: 0px;
}
.containerGranade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
    /* border: 2px solid red; */
}

.class1{
    margin-top: 60vh;
    width: 120px;
    height: 17px;
    background-image: linear-gradient(to right, rgb(255, 78, 78) 50%, red);
    border-start-start-radius: 15px;
    transform: rotate(-3deg);
}

.class2{
    width: 74px;
    height: 0px;
    border-top: 20px solid rgb(255, 78, 78);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: relative;
    top: 30px;
    left: -41px;
    transform: rotate(103deg);
    z-index: 1;
}

.class2:before{
    position: absolute;
    content: '';
    height: 0px;
    width: 0px;
    border-bottom: 30px solid rgb(255, 78, 78);
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
    bottom: 19px;
    left: -5px;
}

.class3{
    background-image: linear-gradient(to right, rgb(95, 95, 95) 50%, rgb(85, 85, 85));;;
    width: 140px;
    height: 80px;
    margin-top: -23px;
    /* z-index: 5; */
}

.class4{
    width: 60px;
    height: 0px;
    border-top: 50px solid grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    top: -50px;
    left: 80px;
    z-index: 2;

}

/* .class4:before{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 35px solid grey;
    border-left: 10px solid transparent;
    bottom: 0px;
    left: -10px;
}

.class4:after{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 35px solid grey;
    border-right: 10px solid transparent;
    bottom: 0px;
    left: 60px;
} */

.class5{
    width: 20px;
    height: 60px;
    background-color: rgb(216, 0, 0);
    transform: skew(-30deg,0deg);
    position: relative;
    top: -50px;
    left: -23px;
}

.class6{
    width: 20px;
    height: 150px;
    background-color: rgb(216, 0, 0);
    transform: skew(0deg,-7deg);
    position: relative;
    top: -55px;
    left: -37px;
}

.class7{
    width: 8px;
    height: 60px;
    background-color: rgb(255, 107, 107);
    transform: skew(-30deg,25deg);
    position: relative;
    top: -269px;
    left: -27px;
}

.class8{
    width: 8px;
    height: 152px;
    background-color: rgb(255, 107, 107);
    border-bottom-left-radius: 4px;
    transform: skew(0deg,25deg);
    position: relative;
    top: -269px;
    left: -44px;
}

.class9{
    width: 215px;
    height: 300px;
    background-image: linear-gradient(60deg, rgb(1, 40, 1),rgb(1, 59, 1), rgb(1, 100, 1));
    filter: brightness(2);
    border-radius: 45%;
    position: relative;
    top: -478px;
    left: 4px;
    z-index: 4;
}

.class9:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 0px;
    border-bottom: 20px solid white;
    transform: rotate(-20deg);
    top: 207px;
    left: -37px;
}

.class10{
    position: relative;
    width: 80px;
    height: 8px;
    background-color: rgb(47, 47, 47);
    transform: skew(70deg,0deg);
    top: -773px;
    left: 13px;
    z-index: 0;
}

.class11{
    position: relative;
    width: 27px;
    height: 10px;
    border-radius: 30px;
    background-color: rgb(179, 0, 0);
    transform: rotate(40deg);
    top: -818px;
    left: 2px;
    z-index: 1;
}

.class12{
    position: relative;
    top: -840px;
    left: 80px;
    width: 59px;
    height: 57px;
    border-radius: 30%;
    background: repeating-linear-gradient( 45deg,transparent,transparent 5px, rgb(47, 47, 47) 5px, rgb(47, 47, 47) 10px);
    z-index: 2;
}

.class13{
    position: relative;
    top: -820px;
    left: 120px;
    background: #f3f3f3;
    box-shadow: 0 0 10px #fff;
    border-radius: 50%;
    filter: blur(15px);
    opacity: 0.9;
    height: 40px;
    width: 40px;
    z-index: 10;
}
